// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.product-card {
    width: 18rem;
}

.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: white;
    border-top: none;

}

.text-align-end {
    text-align: end;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-content {
    padding-left: 4rem;
    background-color: #f2f2f2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer {
    background-color:ghostwhite;
    
}

.nav-page-links {
    font-size: 1rem;
}

.cart-amount-nav {
    margin-left: -15px;
}

.contactForm {
    background-color: #ffffff9e;
    padding: 2rem;
    box-shadow: 1 1 1 0;
    box-shadow: 0px 14px 20px 0px #0000007d;
}

.items-amount-pill {
    font-size: 1rem;
    align-self: baseline;
}

.carousel-banner-img {
    height: 80vh;
    object-fit: cover;
    object-position: 0 20%;
}

.banner-img {
    height: 50vh;
    object-fit: cover;
    object-position: 0 30%;
}

.navColour {
    background-color: white !important;
}

#banner-carousel {
    translate: 0 -80px;
}